header h1 i {
    background: linear-gradient(90deg, #FFA469, #9866FA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h1{
    font-size: 4rem;
    font-family: 'Patrick Hand', cursive;
}

img{
    object-fit: cover;
    width: 100%;
}

#btn_personnalisation {
    font-size: 1.3rem;
    color: #8349F2;
    border:#8349F2 2px solid;
    font-family: 'Patrick Hand', cursive;
}

article a, .article--shadow, form {
  box-shadow: 5px 5px 15px black;
}

.table--border, #navbarContent, .bloc_order {
    border: 3px white solid;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

article a:hover {
    border: 2px solid black;
}

#Compteur__panier {
    padding: 2px 7px;
    border-radius: 30px;
    font-size: 12px;
}
.feedback {
    display: none;
}

main {
    background: linear-gradient(#FFA469, #9866FA);
}
header nav p {
    color: #8349F2;
    font-size: 1.7rem;
    font-family: 'Patrick Hand', cursive;
}

header nav p:hover {
    border-bottom: #8349F2 2px solid;
}

nav i {
    color: black;
}

nav div ul p {
    color:#8349F2;
    font-size: 1.4rem;
    font-family: 'Patrick Hand', cursive;
    transform: translateX(0px);
    transition: transform 150ms;
}

nav div ul p:hover {
    transform: translateX(10px);
}

article h3, p {
    color: black;
}

#erreur__form {
    color: red;
    font-weight: bold;
    font-style: italic;
    display: none;
}

.bloc_order h3, .bloc_order strong {
    color: seagreen;
}

.bloc_order p {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

#prixtotal {
    font-size: 1.5rem;
}

#idorder {
    font-size: 1.2rem;
}

