h2 {
    border-top: grey 2px solid;
    border-bottom: grey 2px solid;
}


img{
    object-fit: cover;
    width: 100%;
}

section {
    background-color: rgb(64, 105, 241);
}

article{
    background-color: white;
}