h1{
    font-size: 4rem;
}

img{
    object-fit: cover;
    width: 100%;
}

.lien_nav {
    font-size: 1.3rem;
}

#btn_personnalisation {
    font-size: 1.1rem;
}

article a:hover {
    border: 2px solid black;
}

#Compteur__panier {
    padding: 2px 7px;
    border-radius: 30px;
    font-size: 12px;
}
.feedback {
    display: none;
}
